@import '../color-schemes/custom/waybar-colors.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "AgaveNerdFont";
    font-weight: bold;

    font-size: 16;

    min-height: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

window#waybar {
    background: transparent;
}
/*--------------------------------TIME-----------------------------------*/
#time {
    background-color: @bg-alt;
    opacity: 0.75;
    padding: 0 30;
    border-radius: 4px;
    margin: 8 10 7 10;
    box-shadow: 0px 0px 4px 4px @bg-alt;
    
}

#clock.date {
    margin: 0 0 0 0;
    background-color: transparent;
    color: @red;
    font-size: 14;
}

#clock.time {
    margin: 3 0 0 0;
    padding: 0;
    font-size: 17;
    color: @white;
}

#clock.time-single {
    background: @bg-alt;
    opacity: 0.75;
    padding: 0 30px;
    margin: 0 0 0 0px;
    border-radius: 10px;
    font-size: 20;
    color: @white;
}

/*--------------------------------WORKSPACES----------------------------------*/
#custom-workspace-id {
    background: @bg-alt;
    opacity: 0.75;
    padding: 0 15px;
    border-radius: 4px;
    color: @fg;
    font-size: 17px;
    margin: 8 10 7 10;
    box-shadow: 0px 0px 4px 4px @bg-alt;
}

/*---------------------------NOTIFICATIONS/MENU---------------------------*/
#custom-notification {
    background-color: @bg-alt;
    padding: 12 20 10 12;
    margin: 0 0 0 0px;
    border-radius: 4px;
    opacity: 0.75;
}

#custom-notification {
    color: @fg;
}

/*--------------------------------NETWORK-----------------------------------*/
#network {
    padding: 0 0px 0 0px;
    margin: 0 0 0 10px;
    color: @fg;
}

/*--------------------------------POWER-CONTROL-----------------------------------*/
#base-info {
    background-color: @bg-alt;
    border-radius: 4px;
    opacity: 0.75;
    margin: 8 10 7 10;
    box-shadow: 0px 0px 4px 4px @bg-alt;
    padding: 0 15;
}

#power-profiles-daemon {
    margin: 0 10 0 0;
    color: @cyan;
}

#battery {
    margin: 0 0 0 0;
    padding: 0 10 0 0;
    color: @green;
}

#bluetooth {
    margin: 0 10 0 0;
    padding: 0 10 0 0;
    color: @cyan;
}

/*--------------------------------LOAD-INFO-----------------------------------*/
#load-info {
    background-color: @bg-alt;
    margin: 8 10 7 10;
    box-shadow: 0px 0px 4px 4px @bg-alt;
    padding: 0 15;
    border-radius: 4px;
    opacity: 0.75;
}

#cpu {
    padding: 0 10 0 0;
    color: @cyan;
}

#temperature {
    padding: 0 10 0 10;
    color: @yellow;
}

#memory {
    padding: 0 0 0 10;
    color: @green;
}

/*--------------------------------LANGUAGE-----------------------------------*/
#language {
    background-color: @bg-alt;
    margin: 8 7 7 10;
    box-shadow: 0px 0px 4px 4px @bg-alt;
    padding: 0 10 0 10;
    border-radius: 4px;
    opacity: 0.75;
    color: @white;
}

/*--------------------------------TRAY-----------------------------------*/
#tray {
    background: @bg-alt;
    opacity: 0.75;
    padding: 0 10px 0 10px;
    margin: 8 10 7 10;
    box-shadow: 0px 0px 4px 4px @bg-alt;
    border-radius: 4px;
    color: @fg;
}

/* ------------------------------MAIN-MENU-------------------------------- */
#image {
    background: @bg-alt;
    opacity: 0.75;
    border-radius: 40px;
    padding: 1 1px 1 1px;
    margin: 4 5 4 7;
    box-shadow: 0px 0px 4px 1px @bg-alt;
}