// KeQing-Standart Theme Color Palette

// Red
$red-light: #f083a2;
$red-dark: #d84f76;

// Pink
$pink-light: #F06292;
$pink-dark: #EC407A;

// Purple
$purple-light: #ccb1ed;
$purple-dark: #a580d2;

// Blue
$blue-light: #65b1cd;
$blue-dark: #4a869c;

// Teal
$teal-light: #a6dae3;
$teal-dark: #7bb8c1;

// Green
$green-light: #b1d196;
$green-dark: #8aa872;

// Yellow
$yellow-light: #f9cb8c;
$yellow-dark: #e6a852;

// Orange
$orange-light: #FF8A65;
$orange-dark: #FF7043;

// Grey
// #f8f8fb;
// #edecf3;
// #e1e0ec;
// #d5d4e4;
// #c9c7dd;
// #bebbd6;
// #b2afce;
$grey-050: #a6a3c7;
$grey-100: #9b97bf;
$grey-150: #8f8bb8;
$grey-200: #837eb0;
$grey-250: #7772a9;
$grey-300: #6c66a2;
$grey-350: #625d97;
$grey-400: #5a558b;
$grey-450: #524e7f;
$grey-500: #4a4673;
$grey-550: #433f67;
$grey-600: #3b375b;
$grey-650: #33304e;
$grey-700: #2b2842;
$grey-750: #232136;
$grey-800: #1b1a2a;  
$grey-850: #13121e;
$grey-900: #0b0b11;
$grey-950: #030305;
// $grey-xxx: 
// $grey-xxx: 
// $grey-xxx: 
// $grey-xxx: 
// $grey-xxx: 
// $grey-xxx: 
// $grey-xxx: 

// White
$white: #e0def4;

// Black
$black: #232136;

// Button
$button-close: #fd5f51;
$button-max: #38c76a;
$button-min: #fdbe04;

// Link
$links: #eb98c3;

// Theme
$default-light: $purple-light;
$default-dark: $purple-dark;
